* {
    vertical-align: baseline;
    text-decoration:inherit;
    padding: 0;
    border: 0;
    margin: 0;
}

::selection {
    background: #D14836; /* Safari */
    color: white;
}
::-moz-selection {
    background: #D14836; /* Firefox */
    color: white;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

table {
    border-collapse: collapse;
}

code {
    display: block;
    overflow-x: auto;
    position: relative;
}

p code {
    display: inline-block;
    overflow: none;
    vertical-align: middle;
}

li code {
    display: inline-block;
    overflow: inherit;
}

/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}


* html .clear {
    height: 1%;
}

a {
    text-shadow: 0px 2px 0px #fff;

    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;

    text-decoration: none;
    color: #D14836;
}

a:hover {
    color: #226091;
}

a.active {
    color: #D14836;
}

body {
    text-shadow: 0px 2px 0px #efefef;
    font-size: 16px;

    background-color: #E8ECEE;

    color: #41596B;
    font-family: 'Oxygen', sans-serif;
}

#container {
    margin: 0 auto;
    padding: 12px;
    width: 100%;
    max-width: 1100px;
}

header h1 {
  font-family: 'Open Sans', serif;
  font-weight: 300;

  font-size: 4.2em;
  letter-spacing: 0px;

  text-align: center;

  cursor: default;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  margin-bottom: 8px;
}

h1 { font-size: 2.4em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h1, h2, h3, h4 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

h2 a, h3 a, h4 a {
    color: #226091;
}

footer {
    border-top: 4px solid silver;
}

footer nav {
  border-top: 0;
  border-bottom: 2px solid gray;
}

.credits {
  text-align: center;
  font-size: 0.8em;
  padding: 20px 0;
}

.credits > a {
    font-style: italic;
}

/* Navigation */

nav {
  border-top: 2px solid gray;
  padding: 12px 0px;
  margin: auto;
  width: 70%;
  display: block;
  text-align: center;
}

nav a {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: gray;
  text-transform: uppercase;
}

/* Navigation ends here */

/* .content starts here */

.content {
    border-top: 4px solid silver;
    padding: 20px 0px;
}

/* .content ends here */

/* posts stuff starts here  */
.post {
  padding-bottom: 60px;
  font-size: 1.2em;
}

.post aside {
  margin-top: 6px;
  text-align: right;
  width: 180px;

  float: left;
}

.post section {
  float: right;
  width: calc(100% - 210px);
  width: -moz-calc(100% - 210px);
  width: -webkit-calc(100% - 210px);
}

.post section h2 {
    margin-bottom: 10px;
}

.post section h3.post-title {
    margin-top: 0px;
}

.post section h3, .post section h4 {
    margin-top: 30px;
}

.post p,ol,ul {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;
    font-family: 'Balthazar', serif;
}

ol,ul {
    margin-left: 30px;
}

.post img {
    margin: 8px;
}

.post:after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.excerpt {
    padding-bottom: 40px;
}

/* posts stuff ends here */

/* Old Crappy Stuff */

/* listing */

.listing{
    margin-top: 24px;
}

.listing img{
    width: 120px;
    height: 120px;
}

.listing li{
    background-color: #ededed;
    list-style-type: none;
    float: left;
    width: 272px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 12px;
    -moz-box-shadow: 0px 4px 12px #ccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 4px 12px #ccc; /* Saf3.0+, Chrome */
          box-shadow: 0px 4px 12px #ccc; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */

}

.listing li:nth-child(2){
    margin-right: 0;
}

.listing li:nth-child(3){
    clear: left;
}

.listing li p{
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 12px;
}


.listing h3{
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 6px;
}

.listing time{
    display:block;
    border-top: 1px solid #ccc;
    padding-top: 4px;
    font-size: 10px;
}

/* Content */


ul.tags{
    margin-bottom: 24px;
    text-align: right;
}

ul.tags li{
    list-style-type: none;
    display: inline;
}

ul.tags li a{
    color: #999;
    text-decoration: none;
}

h1.tag:before,
ul.tags li a:before{
    content: '\00AB';
}

h1.tag:after,
ul.tags li a:after{
    content: '\00BB';
}

ul.tags li a:hover{
    color: #222;
}

h1 a, h2 a, h3 a{
    text-decoration: none;
}

nav.post_nav{
    background-color: #efefef;
    position: fixed;
    width: 124px;
    margin-left: -186px;
    font-size: 12px;
    padding: 12px;
    padding-right: 24px;
    -moz-box-shadow: 0px 2px 4px #ccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 2px 4px #ccc; /* Saf3.0+, Chrome */
          box-shadow: 0px 2px 4px #ccc; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */

}

a.backlink{
    display:block;
    line-height: 24px;
    margin-bottom: 12px;
}

a.backlink:before{
    content: '\2190';
}

a.prev:before{
    content: '\00AB';
}

a.next:after{
    content: '\00BB';
}

a.prev{
    margin-right: 12px;
}

a.prev,
a.next{
    display: block;
    float: left;
    margin-bottom: 12px;
}

a.next{ float: right };

a.backlink:hover, a.prev:hover, a.next:hover{
    color: #222;
}

.post_nav a.disabled{
    color: #ccc;
}

.post_nav a{
    color: #666;
    text-decoration: none;
    text-shadow: 0px 2px 0px #fff;
}

.post_nav div{
    display: block;
    float: left;
    width: 58px;
    overflow: hidden;
    margin-left: 4px;
}

#facebook_like{
    margin-top: 1px;
}

.archives ul.posts{
    margin-top: 24px;
}

.archives li.post{
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    padding: 12px 0;

}

.archives li.post time{
    color: #999;
    text-shadow: 0px 2px 0px #fff;
    margin-right: 24px;
    display:block;
    float: left;
    width: 120px;
}

.archives li.post a{
    float: left;
}

.archives ul.tags{
    float: right;
    margin-bottom:0;
}


.codebox {
  margin-top: 8px;
  margin-bottom: 12px;
}
.code {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #F0F3F3;
}
.code figcaption {
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.highlight pre {
  font-size: 12px;
  padding: 16px 12px 12px;
  line-height: 24px;
  margin-bottom: 8px;
}