{% extends "base.j2" %}
{% from "macros.j2" import render_post with context %}

{% block main -%}
    <article class="post">
        <aside>
            <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
                {{ resource.meta.created.strftime('%B %d, %Y') }}
            </time>
        </aside>
        <section>
            <h2>
                <a href="">{{ resource.meta.title }}</a>
            </h2>
            {% filter markdown|typogrify -%}
            {% mark post -%}
            {% block post -%}{%- endblock %}
            {%- endmark %}
            {%- endfilter %}
        </section>
    </article>


{%- endblock %}
